includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/php-standard-library/phpstan-extension/extension.neon

parameters:
  phpVersion: 80200
  tmpDir: tmp/phpstan
  paths:
    - src
    - tests
